.carte{
    background-color: #124164;
    height:300px;
    width:440px;
    position:relative;
}
.titre{
    text-align:right;
    color:white;
    margin-right:20px;
}

.nombre{
    color:white;
    display:flex;
    flex-direction: column;
}
.nombre img{
    width:120px;
    height:80px;
}
.date{
   /* border:solid;*/
   color:white;
   position:absolute;
    display:flex;
    align-items:center;
    right:0px;
    bottom: 10px;
   
    
}
.date img{
    width:200px;
    height:150px;
}
.nom{
    /*border:solid;*/
    color:white;
    font-size:20px;
    position:absolute;
    bottom:20px;
        
}
.carte-crédit{
    display:flex;
}
.formulaire{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin:40px;
}
.formulaire input{
    margin-top:20px;
    border-radius: 5px;
    border-color: black;
    height:30px;
    width:400px;

}